* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: center/cover no-repeat fixed;
}

li {
    list-style: none;
}

input[type="text"],
textarea {
    border: 0;
    outline: none;
}